@media only screen and (min-width: 768px){
	.book-one p{
	    letter-spacing: 1px;
	}
}
@media only screen and (max-width: 1024px){
	.book-three p{
		font-size: 28px;
	}
	.book-four .book-four-right img{
		padding-top: 40px;
	}
	.book-seven{
		padding-bottom: 30px;
	}
	.book-four .book-four-left {
    	padding-left: 60px;
	}
	.book-six .book-six-left {
    	padding-left: 80px;
	}
	.book-three .book-three-icon{
		margin-left: 50px;
	}
}
@media only screen and (max-width: 768px){
	.book-two .book-two-title span{
		font-size: 46px;
	}
	.book-two .book-two-desc span{
		font-size: 28px;
	}
	.book-three .book-three-icon{
		display: none;
	}
	.book-three p{
		font-size: 21px;
	}
	.book-four .book-four-left .book-four-title{
		font-size: 30px;
	}
	.book-four .book-four-middle img{
		width: 60px;
	}
	.book-four .book-four-right img{
		width: 100%;
	}
	.book-four .btn-book-four{
		font-size: 10px;
	}
	.book-five p{
		font-size: 22px;
	}
	.book-five p span{
		font-size: 38px;
	}
	.book-six .book-six-line-through{
		font-size: 16px;
	}
	.book-six .book-six-sale{
		font-size: 18px;
	}
	.book-six .book-six-left{
		padding-left: 50px;
		padding-top: 90px;
	}
	.book-six .icon-book-one-left{
		background: url(../images/Group_17.png) no-repeat;
		padding: 0px 8px;
    	background-size: 12px;
    	margin-right: 7px;
	}
	.book-six .icon-book-one-right{
		background: url(../images/Group_17.png) no-repeat;
		padding: 0px 8px;
    	background-size: 12px;
	}
	.book-six .book-six-price {
    	font-size: 30px;
	}
	.book-six .btn-book-six{
		padding: 8px 0;
		font-size: 16px;
	}
	.book-seven .book-seven-left-title{
		font-size: 22px;
	}
	.book-seven .book-seven-left-desc{
		font-size: 15px;
		width: 90%;
	}
	.book-four .book-four-left .book-four-desc{
		font-size: 14px;
	}
	.book-seven .book-seven-left {
    	padding-top: 70px;
	}
	.book-two .book-two-title {
    	padding-top: 140px;
	}
	.book-two .book-two-image {
    	padding-top: 5px;
	}
	.book-four .book-four-left {
    	padding-left: 45px;
    	padding-top: 105px;
	}
	.book-four .book-four-right img {
    	padding-top: 25px;
	}
	.book-four .book-four-middle {
    	padding-top: 185px;
	}
	.book-three p span{
		font-size: 25px;
	}
	.book-three p{
		width: 95%;
	}
}
@media only screen and (max-width: 736px){
	.book-six .btn-book-six {
    	font-size: 14px;
    	width: 130px;
	}
}
@media only screen and (max-width: 640px){
	.book-four .book-four-left{
		padding-left: 50px;
	}
	.book-six .icon-book-one-left {
    	background: url(../images/Group_17.png) no-repeat;
    	padding: 0px 5px;
    	background-size: 10px;
	}
	.book-six .icon-book-one-right {
	    background: url(../images/Group_17.png) no-repeat;
	    padding: 0px 5px;
	    background-size: 10px;
	}
	.book-six .book-six-price{
		font-size: 22px;
	}
	.book-four .book-four-left {
    	padding-top: 70px;
    }
	.book-four .book-four-middle {
    	padding-top: 180px;
    	padding-left: 35px;
	}
	.book-six .book-six-left {
    	padding-top: 60px;
	}
	.book-seven .book-seven-left {
    	padding-top: 40px;
	}
}
@media only screen and (max-width: 414px){
	.book-two .book-two-title span{
		font-size: 28px;
	}
	.book-two .book-two-desc span{
		font-size: 18px;
	}
	.book-two .book-two-content{
		width: 80%;
	}
	.book-three p{
		font-size: 18px;
	}
	.book-three p span {
    	font-size: 22px;
	}
	.book-four .book-four-left{
		padding-left: 30px;
		padding-top: 50px;
	}
	.book-four .book-four-left img {
    	margin-left: -5px;
	}
	.book-four .btn-book-four{
		margin-top: 5px;
		margin-bottom: 30px;
	}
	.book-four .book-four-middle img{
		width: 60px;
	}
	.book-four .book-four-right img {
    	padding-top: 0px;
	}
	.book-four .book-four-right {
    	padding-top: 0px;
	}
	.book-four .book-four-middle{
		padding-top: 40px;
		padding-left: 24px;
	}
	.book-four .book-four-left .book-four-desc{
		width: 70%;
		margin: auto;
	}
	.book-five p{
		font-size: 18px;
	}
	.book-five p span{
		font-size: 24px;
	}
	.book-five .col-xs-2{
		width: 45%;
	}
	.book-five .col-xs-2:first-child,
	.book-five .col-xs-2:last-child{
		width: 0;
	}
	.book-six .book-six-left{
		padding-left: 25px;
    	padding-top: 30px;
	}
	.book-six .btn-book-six{
		padding: 6px 0;
		width: 120px;
		margin-top: 10px;
	}
	.book-six{
		padding-bottom: 20px;
	}
	.book-seven .book-seven-left{
		padding-top: 30px;
	}
	.book-seven .book-seven-left-title{
		font-size: 16px;
	}
	.book-seven .book-seven-left-desc {
	    font-size: 11px;
	    width: 100%;
	}
	.book-seven .btn-book-six{
		font-size: 10px;
	}
	.book-one p{
		font-size: 11px;
	}
	.book-one .icon-book-one-left {
	    background-size: 7px;
	    margin-right: -5px;
	}
	.book-one .icon-book-one-right {
	    background-size: 7px;
	    margin-left: 5px;
	}
	.book-five .col-xs-3{
		width: 100%;
		margin-bottom: 50px;
	}
	.book-five img{
		width: 60%;
	}
	.book-five{
		padding-bottom: 10px;
	}
	.book-seven .btn-book-seven{
		font-size: 12px;
		padding: 6px 0;
		width: 100px;
	}
	.book-two .book-two-title {
    	padding-top: 100px;
	}
	.book-four .book-four-left,
	.book-four .book-four-middle,
	.book-four .book-four-right,
	.book-four .a-book-four-rsp{
		width: 100%;
		text-align: center;
	}
	.book-four .book-four-left a,
	.book-six .book-six-left,
	.book-seven .book-seven-left{
	    display: none;
	}
	.book-four .a-book-four-rsp,
	.book-six .book-six-rsp,
	.book-seven .book-seven-rsp{
		display: block;
	}
	.book-four{
		padding-bottom: 40px;
	}
	.book-six .col-xs-8,
	.book-six .col-xs-4{
		width: 100%;
	}
	.book-six{
		text-align: center;
		margin-bottom: 20px;
	}
	.book-six .book-six-line-through{
		font-size: 22px;
	}
	.book-six .book-six-sale {
    	font-size: 24px;
	}
	.book-six .book-six-price{
		font-size: 32px;
	}
	.book-six .icon-book-one-left {
	    background: url(../images/Group_17.png) 0 no-repeat;
	    padding: 0px 8px;
	    background-size: 14px;
	}
	.book-six .icon-book-one-right {
	    background: url(../images/Group_17.png) 0 no-repeat;
	    padding: 0px 8px;
	    background-size: 14px;
	    margin-left: 0px;
	}
	.book-seven .book-seven-right,
	.book-seven .book-seven-rsp{
		width: 100%;
	}
	.book-seven,
	.book-seven .book-seven-left-desc,
	.book-seven .book-seven-left-title{
		text-align: center;
	}
	.book-seven .btn-book-seven{
		float: none;
	}
}
@media only screen and (max-width: 375px){
}
@media only screen and (max-width: 320px){
	.book-one p{
		padding: 5px 0;
		font-size: 9px;
	}
	.book-one .icon-book-one-left {
	    background-size: 5px;
	    margin-right: -10px;
	}
	.book-one .icon-book-one-right {
	    background-size: 5px;
	    margin-left: 4px;
	}
	.book-one{
		font-size: 8px;
	}
	.book-three p span{
		font-size: 19px;
	}
	.book-four img{
		width: 105px;
	}
	.book-four .book-four-left {
	    padding-left: 32px;
	}
	.book-four .book-four-left img {
	    margin-left: -32px;
	}
	.book-four .btn-book-four {
    	padding: 6px 11px;
	}
	.book-six .btn-book-six {
    	font-size: 8px;
    	width: 65px;
	}
	.book-seven .book-seven-left-title {
    	font-size: 11px;
	}
	.book-six .book-six-sale {
    	font-size: 13px;
	}
	.book-six .book-six-price {
    	font-size: 11px;
	}
	.book-seven .col-xs-1{
		width: 0px;
	}
	.book-seven .col-xs-5{
		width: 39%;
	}
	.book-seven .btn-book-six {
    	padding: 6px 15px;
	}
	.book-seven .btn-book-six {
    	font-size: 8px;
	}
	.book-seven .book-seven-left-desc {
    	font-size: 8px;
	}
	.book-seven .btn-book-seven {
	    padding: 5px 0;
	    font-size: 10px;
	    width: 80px;
	}
}